*.pyc
musdb18/train/Lushlife - Toynbee Suite.stem.mp4
musdb18/train/Alexander Ross - Velvet Curtain.stem.mp4
musdb18/train/Traffic Experiment - Once More (With Feeling).stem.mp4
musdb18/test/Georgia Wonder - Siren.stem.mp4
musdb18/train/Traffic Experiment - Sirens.stem.mp4
musdb18/train/Alexander Ross - Goodbye Bolero.stem.mp4
musdb18/train/Meaxic - You Listen.stem.mp4
musdb18/train/Black Bloc - If You Want Success.stem.mp4
musdb18/train/Sweet Lights - You Let Me Down.stem.mp4